$inverse-font-color: #F5F5F5 !important;
$inverse-font-link-color: #EAEAEA !important;
$inverse-font-link-hover-color: #D0D0D0 !important;

$border-color: #F1F1EE;
$border-shadow-color: #AAAAAA;

$avatar-border-color: #E6E9EB;

$color-dark-deep: #2e3234;
$color-gray-darker: #BBBBBB;