@import "prestyle";
@import "sizes";
@import "colors";
@import "mixins";

.main-pic {
  background: url("../images/main_pic.jpg") 0 35%;
  background-size: cover;
  height: 100%;

  .navbar-gradient {
    @include background-gradient(rgba(0, 0, 0, 0.3));
    border: 0;

    .logo-span {
      background: url("../images/Logo.png") top no-repeat;
      background-size: 120px 30px;
      display: inline-block;
      width: 120px;
      height: 30px;
      margin-top: 10px;
    }

    .nav-center {
      display: block;
      left: 50%;
      position: absolute;
      .img-logo-w30 {
        width: 30px;
        margin-top: 10px;
        margin-left: -15px;
      }
    }

    ul.navbar-right {
      li {
        width: 80px;
        text-align: center;
        font-size: 1.1em;

        a {
          color: $inverse-font-link-color;
          border-bottom: 3px solid rgba(0, 0, 0, 0);
        }
        a:hover {
          color: $inverse-font-link-hover-color;
          border-bottom: 3px solid #ffffff;
        }
      }
    }
  }

  .main-desc {
    color: $inverse-font-color;

    a {
      color: $inverse-font-link-color;
    }
    a:hover {
      color: $inverse-font-link-hover-color;
    }
    .title {
      font-size: 4em;
      text-align: center;
      margin: 40px 0;
    }
    @media all {
      .desc-text {
        width: 90%;
        line-height: 150%;
        font-weight: 200;
        text-align: center;
      }
    }
    @media screen and (min-width: 1012px) {
      .desc-text {
        width: 50%;
      }
    }
  }
}

.items {
  img{
    width: 100%;
  }
  .items-show {
    .title {
      font-size: 2.5em;
      text-align: center;
    }
    .row {
      margin-top: 100px;
    }
  }

  .items-list {
    text-align: center;
    width: 80%;

    li{
      margin: 0 5.8%;
    }
  }

  #homepage-quotes.words {
    margin-top: 200px;
    text-align: center;
    h2.quotes-block-head {
      margin-bottom: 100px;
    }
    .swiper-container {
      margin: 0 auto 50px;
      .quote-box {
        img {
          width: 150px;
          height: 150px;
          display: inline-block;
          border: 5px solid $avatar-border-color;
        }
        p.content{
          width: 700px;
          margin: 50px auto;
        }
        p.content::before, p.content::after {
          content: '"';
        }
        span.job{
          color: $color-gray-darker;
        }
      }
    }
    .arrow {
      display: inline-block;
      margin-top: 150px;
      padding: 30px;
    }
    .arrow:hover {
      cursor: pointer;
    }
  }

}

.footer {
  margin-top: 200px;
  background-color: $color-dark-deep;
  color: $inverse-font-color;
  .box {
    margin-top: 50px;
  }
  .about-us {
    color: $color-gray-darker;
  }
  .total-guests{
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 200px;
    display: inline-block;
    line-height: 200px;

    .num{
      font-size: 2.0em;
      border-bottom: 1px dashed;
    }
  }
}