html, body {
  height: 100%; }

.title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.content {
  font-family: "Maven Pro", "Open Sans", "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4em; }

.article {
  font-size: 1.2em; }

.main-pic {
  background: url("../images/main_pic.jpg") 0 35%;
  background-size: cover;
  height: 100%; }
  .main-pic .navbar-gradient {
    background: transparent;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    border: 0; }
    .main-pic .navbar-gradient .logo-span {
      background: url("../images/Logo.png") top no-repeat;
      background-size: 120px 30px;
      display: inline-block;
      width: 120px;
      height: 30px;
      margin-top: 10px; }
    .main-pic .navbar-gradient .nav-center {
      display: block;
      left: 50%;
      position: absolute; }
      .main-pic .navbar-gradient .nav-center .img-logo-w30 {
        width: 30px;
        margin-top: 10px;
        margin-left: -15px; }
    .main-pic .navbar-gradient ul.navbar-right li {
      width: 80px;
      text-align: center;
      font-size: 1.1em; }
      .main-pic .navbar-gradient ul.navbar-right li a {
        color: #EAEAEA !important;
        border-bottom: 3px solid transparent; }
      .main-pic .navbar-gradient ul.navbar-right li a:hover {
        color: #D0D0D0 !important;
        border-bottom: 3px solid #ffffff; }
  .main-pic .main-desc {
    color: #F5F5F5 !important; }
    .main-pic .main-desc a {
      color: #EAEAEA !important; }
    .main-pic .main-desc a:hover {
      color: #D0D0D0 !important; }
    .main-pic .main-desc .title {
      font-size: 4em;
      text-align: center;
      margin: 40px 0; }
    @media all {
      .main-pic .main-desc .desc-text {
        width: 90%;
        line-height: 150%;
        font-weight: 200;
        text-align: center; } }
    @media screen and (min-width: 1012px) {
      .main-pic .main-desc .desc-text {
        width: 50%; } }

.items img {
  width: 100%; }
.items .items-show .title {
  font-size: 2.5em;
  text-align: center; }
.items .items-show .row {
  margin-top: 100px; }
.items .items-show .icon-image {
  padding: 0 50px 50px 50px; }
.items .items-list {
  text-align: center;
  width: 80%; }
  .items .items-list li {
    margin: 0 5.8%; }
.items #homepage-quotes.words {
  margin-top: 200px;
  text-align: center; }
  .items #homepage-quotes.words h2.quotes-block-head {
    margin-bottom: 100px; }
  .items #homepage-quotes.words .swiper-container {
    margin: 0 auto 50px; }
    .items #homepage-quotes.words .swiper-container .quote-box img {
      width: 150px;
      height: 150px;
      display: inline-block;
      border: 5px solid #E6E9EB; }
    .items #homepage-quotes.words .swiper-container .quote-box p.content {
      width: 700px;
      margin: 50px auto; }
    .items #homepage-quotes.words .swiper-container .quote-box p.content::before, .items #homepage-quotes.words .swiper-container .quote-box p.content::after {
      content: '"'; }
    .items #homepage-quotes.words .swiper-container .quote-box span.job {
      color: #BBBBBB; }
  .items #homepage-quotes.words .arrow {
    display: inline-block;
    margin-top: 150px;
    padding: 30px; }
  .items #homepage-quotes.words .arrow:hover {
    cursor: pointer; }

.footer {
  margin-top: 200px;
  background-color: #2e3234;
  color: #F5F5F5 !important; }
  .footer .box {
    margin-top: 50px; }
  .footer .about-us {
    color: #BBBBBB;
    font-size: 1.2em !important; }
  .footer h3.title {
    margin: 40px 0 20px; }
  .footer .total-guests {
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 200px;
    display: inline-block;
    line-height: 200px; }
    .footer .total-guests a.num {
      font-size: 2.0em;
      text-decoration: none;
      color: #EAEAEA !important; }
    .footer .total-guests a.num:hover {
      border-bottom: 1px dashed;
      color: #D0D0D0 !important; }
  .footer ul.links {
    line-height: 180%; }
  .footer a.link {
    color: #EAEAEA !important; }
  .footer a.link:hover {
    color: #D0D0D0 !important; }

/*# sourceMappingURL=style.css.map */
